@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #202124;
  max-height: 100vh;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fredoka One', cursive;
  font-size: 50px;
  font-weight: 800;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-container {
  position: relative;
  padding: 30px 30px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 20px;
  background: #3c4043;
  box-shadow: -3px 8px 21px 5px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: -3px 8px 21px 5px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: -3px 8px 21px 5px rgba(0, 0, 0, 0.57);
}

.upload-container {
  position: absolute;
  top: 10px;
  left: 10px;
}

.upload-container:hover {
  box-shadow: -3px 4px 21px -4px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: -3px 4px 21px -4px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: -3px 4px 21px -4px rgba(0, 0, 0, 0.57);
}

.color-image-container {
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.color-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 3em;
}

.image-container {
  position: relative;
  height: 100%;
  width: 100rem;
  background-color: #404144;
  border-radius: 20px;
  overflow: hidden;
  border: none;
}

.color-box {
  width: 300px;
  height: 12rem;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.2s;
}

.color-box:hover {
  box-shadow: -3px 4px 21px -2px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: -3px 4px 21px -2px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: -3px 4px 21px -2px rgba(0, 0, 0, 0.57);
}

.img-source {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  color: #e2e2e2;
  background-color: #202124;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type='file'] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

#inpFile {
  cursor: pointer;
}

#color1 {
  background-color: #0e1437;
}

#color2 {
  background-color: #d7a880;
}

#color3 {
  background-color: #624d67;
}

#color4 {
  background-color: #a27676;
}
